/* ==========================================================================
   Global Styles
   ========================================================================== */

section {
    max-width: 800px;
    margin: auto;
}

.messages {
    height: 48px;
    background: #90ee90;
}

.notification {
    padding: 12px;
}

header {
    margin: 0 auto;
    padding-bottom: 6px;
    text-align: center;
    color: #154666;
    background: #8baad6;
}

/* ==========================================================================
   Link Styles
   ========================================================================== */

.button {
    background-color: #154666;
    color: #8baad6;
    margin: 5px 2px;
    border: 2px solid #154666;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button-inactive {
    background-color: #404040;
    color: #aeaeae;
}

.button-right {
    float: right
}

a:hover, a:active {
    border: 2px solid #8baad6;
    background-color: #8baad6;
    color: #154666;
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1 {
    font-size: 96px;
    font-family: "Sarina", cursive;
    line-height: 1em;

}

.small {
    font-size: 12px;
}

/* ==========================================================================
   Page Styles
   ========================================================================== */


/* ==========================================================================
   Form Styles
   ========================================================================== */

