{% extends "layout.html" %}
{% from "macros.html" import nav_bar with context %}

{% block nav %}
    {{ nav_bar(False) }}
{% endblock %}

{% block content %}
    <div class="entry-title">{{ entry.title }}</div>
    <div class="entry-date">{{ entry.date }}</div>
    <div class="entry-time-spent">Time spent:  {{ entry.time_spent.strftime("%H:%M") }}</div>
    <div class="entry-learned">What I learned:  {{ entry.learned }}</div>
    <div class="entry-resources">Resources:  {{ entry.resources }}</div>
    <div class="entry-tags">
        {% for tag in tags %}
            <a href="{{ url_for('show_tag', tag=tag) }}">{{ tag }}</a><br>
        {% endfor %}
    </div>
    {% if entry.hidden == True %}
        <div class="entry-privacy">This entry is hidden.</div>
    {% elif entry.private == True %}
        <div class="entry-privacy">This entry is private.</div>
    {% endif %}
{% endblock %}
