{% extends "layout.html" %}
{% from "macros.html" import nav_bar with context %}

{% block nav %}
    {{ nav_bar(False) }}
{% endblock %}

{% block content %}
    <div class="entry-title">{{ entry.title }}</div>
    <div class="entry"><span class="entry-label">Posted on:</span><br>{{ entry.date.strftime("%B %d").replace(" 0", " ") }}, {{ entry.date.strftime("%Y") }}</div>
    <!-- Time spent field.  Omit hours or minutes if either is zero, and omit the connecting comma if either is omitted. -->
    <div class="entry"><span class="entry-label">Time spent:</span><br>
        {% if entry.time_spent.strftime("%H:%M") == "00:00" %}
            n/a
        {% else %}
            {% if entry.time_spent.strftime("%H") != "00" %}
                {{ entry.time_spent.strftime("%H").lstrip("0") }}
                {% if entry.time_spent.strftime("%H") == "01" %}
                    hour
                {% else %}
                    hours
                {% endif %}
            {% endif %}
            {% if entry.time_spent.strftime("%H") != "00" and entry.time_spent.strftime("%M") != "00" %}
                ,&nbsp;
            {% endif %}
            {% if entry.time_spent.strftime("%M") != "00" %}
                {{ entry.time_spent.strftime("%M").lstrip("0") }}
                {% if entry.time_spent.strftime("%M") == "01" %}
                    minute
                {% else %}
                    minutes
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    <div class="entry-multiline"><span class="entry-label">What I learned:</span><br>{{ entry.learned }}</div>
    <div class="entry-multiline"><span class="entry-label">Resources:</span><br>{{ entry.resources }}</div>
    <div class="entry"><span class="entry-label">Tags:</span><br>
        {% for tag in tags %}
            <a href="{{ url_for('show_tag', tag=tag) }}">{{ tag }}</a>,
        {% endfor %}
    </div>
    {% if entry.hidden == True %}
        <div class="entry-privacy">This entry is hidden from others.</div>
    {% elif entry.private == True %}
        <div class="entry-privacy">This entry is private and cannot be read by others.</div>
    {% endif %}
    {% if author == True %}
        <div class="edit"><a class="button" href="{{url_for('edit_entry', entry_id=entry.id) }}">Edit Entry</a>
        <a class="button" href="{{ url_for('delete_entry', entry_id=entry.id) }}">Delete Entry</a></div>
    {% endif %}
{% endblock %}
