{% extends "layout.html" %}
{% from "macros.html" import nav_bar with context %}

{% block nav %}
    {{ nav_bar(False) }}
{% endblock %}

{% block content %}
    {% if button == "Update" %}
        <h2>Editing: “{{ form.title.data }}”</h2>
    {% endif %}
    <form method="POST" action="" class="form">
        {{ form.hidden_tag() }}
        {% for field in form %}
            <div class="field-{{ field.name }}">
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="notification error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                {% if field.type == "BooleanField" %}
                <!--suppress XmlInvalidId -->
                <label for="{{ field.name }}">{{ field(placeholder=field.label.text) }} {{ field.label }} {{ field.description }}</label>
                {% else %}
                    {% if field.id != "csrf_token" %}
                        {{ field.label }} {{ field.description }}
                    {% endif %}
                    {{ field(placeholder=field.label.text) }}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" id="submit">{{ button }}</button>
        <a class="button" href="{{ url_for('index') }}">Cancel</a>
    </form>
{% endblock %}
