{% macro render_article(article) %}
{% endmacro %}

{% macro render_listing(listing, user, god) %}
    <article class="listing">
        <h2>
            {% if listing.private == False or listing.user.username == user or god %}
                <a href="/entries/{{ listing.id }}">
            {% endif %}
                {{ listing.title }}
            {% if listing.private == False or listing.user.username == user or god %}
                </a>
            {% endif %}
        </h2>
        <p>by:
        {% if listing.user.username == user %}
            you
        {% else %}
            {{ listing.user.username }}
        {% endif %}</p>
        <time datetime="{{ listing.date }}">{{ listing.date }}</time>
    </article>
{% endmacro %}
